// * COLORS //
$offWhite: #EEE8D6;
$darkBlue: #022933;
$yellow: #FFBA00;

// * COLORS for theme //
$color-main: $darkBlue;
$color-background: $offWhite;
$color-item-border: rgb(187, 19, 19);
$color-media-head: rgb(20, 20, 194);

// * fonts //
$font-main: 'Helvetica',
sans-serif;
